#root, body, html, textarea {
  color: var(--mui-palette-grey-200);
}

#root, body, html {
  background-color: var(--mui-palette-primary-dark); //#0B2447; // Customized in theme
  height: 100%;
  width: 100%;
}

html {
  scrollbar-gutter: stable;
}

.active > * {
  font-weight: 700 !important;
  color: var(--mui-palette-common-white);
  border-color: var(--mui-palette-info-main) !important;
}